<%= form_for(@ingest) do |f| %>
    <% if @ingest.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@ingest.errors.count, "error") %> prohibited this ingest from being saved:</h2>

            <ul>
                <% @ingest.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label "Content Type" %><br>
        <%= f.select(:content) do %>
            <%= options_for_select([
                                           ['please select', ''],
                                           ['collection'],
                                           ['thesis'],
                                           ['exam paper'],
                                           ['scholarly text'],
                                           ['image (single TIFF)'],
                                           ['image (TIFF master and JP2 display)']
                                   ]) %>
        <% end %>
    </div>

    <div class="field">
        <%= f.label "Select the filestore (yodlprodingest is the default)" %><br />
        <%= f.select(:filestore) do %>
            <%= options_for_select([
                                           ['yodlprodingest'],
                                           ['archbishop']
                                   ]) %>
        <% end %>
    </div>
    <div class="field">
        <%= f.label "Folder path to files" %><br />
        <p> For example '<i>archbishop/Folder1/Folder2/</i>' enter '<i>Folder1/Folder2</i>'. Leave blank for root directory.<br />
            If you are selecting thesis, exam paper, scholarly text or '<i>image (single TIFF)</i>' the files should be in the folder specified.<br />
            If you are selecting '<i>image (TIFF master and JP2 display)</i>' we will look for sub-directories called '<i>Dissemination_JPEG2</i>' and '<i>Archive_TIFFs</i>'
        </p>
        <%= f.text_field :folder %>
    </div>
    <div class="field">
        <%= f.label "Select a CSV file to upload" %><br />
        <%= f.file_field :file %>
    </div>

    <div class="field">
        <%= f.label :rights %><br />
        <%= f.select :rights, options_for_select(Settings.rights.to_hash { |l | [l['label']] }) %>
    </div>
    <div class="field">
        <%= f.label :repository %><br />
        <%= f.select :repository, options_for_select(Settings.repository.to_hash { |l | [l['label']] }) %>
    </div>

    <div class="field">
        <%= f.label "Imager (images only)." %><br />
        <% if self.current_user.nil? %>
            <%= f.text_field :photographer %>
        <% else %>
            <%= f.text_field :photographer, :value => self.current_user.surname + ', ' + self.current_user.givenname %>
        <% end %>
    </div>

    <div class="field">
        <%= f.label "Worktype (provide for images only), leave blank if this info is in the csv file" %><br />
        <%= f.text_field :worktype , :value => 'manuscript' %>
    </div>

    <div class="field">
        <%= f.label "Parent Collection (in the form york:1234, leave blank if this info is in the csv file)" %><br />
        <%= f.text_field :parent %>
    </div>

    <br />
    <div class="actions">
        <%= f.submit %>
    </div>
    <br />
<% end %>
