<%= form_for(@ingest) do |f| %>
    <% if @ingest.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@ingest.errors.count, "error") %> prohibited this ingest from being saved:</h2>

            <ul>
                <% @ingest.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label "Select the filestore"%><br />
        <%= f.select(:filestore) do %>
            <%= options_for_select([
                                           ['please select', ''],
                                           ['yodlprodingest'],
                                           ['archbishop']
                                   ]) %>
            <%= :id %>
        <% end %>
    </div>
    <br />
    <div class="field">
        <%= f.label "Path to files"%><br />
        <%= f.text_field :folder, :size => 70 %>
        <p>E.G. '<i>archbishop/Folder1/Folder2/</i>' enter '<i>Folder1/Folder2</i>'.<br />
            Leave blank for root directory.<br />
            If you are selecting '<i>image (TIFF master and JP2 display)</i>' make sure sub-directories for
            '<i>Dissemination_JPEG2</i>' and '<i>Archive_TIFFs</i>' exist but do not include them here.
        </p>
    </div>
    <br />
    <div class="field">
        <%= f.label "Select a CSV file to upload"%><br />
        <%= f.file_field :file %>
    </div>
    <br />

    <div class="field">
        <%= f.label "Type of Content to Ingest" %><br>
        <%= f.select(:content) do %>
            <%= options_for_select([
                                           ['please select', ''],
                                           ['Collections'],
                                           ['Theses'],
                                           ['Exam papers'],
                                           ['Scholarly texts'],
                                           ['Images (TIFFs only)'],
                                           ['Images (TIFFs and JP2s)']
                                   ]) %>

            <%= :id %>

        <% end %>

    </div>
    <div class="field">
        <%= f.label "Imager"%><br />
        <% if self.current_user.nil? %>
            <%= f.text_field :photographer %>
        <% else %>
            <%= f.text_field :photographer, :value => self.current_user.surname + ', ' + self.current_user.givenname %>
        <% end %>
    </div>
    <br />
    <div class="field">
        <%= f.label "Worktype (leave blank if this is in the csv)"%><br />
        <%= f.text_field :worktype %>
    </div>

    <br />
    <div class="field">
        <%= f.label "Parent Collection (leave blank if this is in the csv)" %><br />
        <%= f.label "Select Collection", :id => 'btnColl', :class => 'btn btn-primary' %>
        <br />
        <%= f.label "Collection pid:"%>
        <%= f.text_field :parent %>
    </div>

    <div class="field">
        <%= f.label :rights %><br />
        <%= f.select :rights, options_for_select(Settings.rights.to_hash { |l | [l['label']] }) %>

    </div>
    <br />
    <div class="field">
        <%= f.label :repository%><br />
        <%= f.select :repository, options_for_select(Settings.repository.to_hash { |l | [l['label']] })%>
    </div>
    <%= f.hidden_field :dryrun, :value => 'true' %>
    <%= f.hidden_field :email, :value => self.current_user.get_ldap_email %>

        <br />
    <div class="actions">
        <%= f.submit "Test Ingest"%>
    </div>
    <br />
<% end %>
