<%= form_for(@ingest) do |f| %>
    <% if @ingest.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@ingest.errors.count, "error") %> prohibited this ingest from being saved:</h2>

            <ul>
                <% @ingest.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label "Type of Content to Ingest" %><br>
        <%= f.select(:content) do %>
            <%= options_for_select([
                                           ['please select', ''],
                                           ['Collections'],
                                           ['Theses'],
                                           ['Exam papers'],
                                           ['Scholarly texts'],
                                           ['Images (TIFFs only)'],
                                           ['Images (TIFFs and JP2s)']
                                   ]) %>
        <% end %>
    </div>

    <br />
    <div class="field">
        <%= f.label "Select the filestore" %><br />
        <%= f.select(:filestore) do %>
            <%= options_for_select([
                                           ['yodlprodingest'],
                                           ['archbishop']
                                   ]) %>
        <% end %>
    </div>
    <br />
    <div class="field">
        <%= f.label "Path to files" %><br />
        <p> For example '<i>archbishop/Folder1/Folder2/</i>' enter '<i>Folder1/Folder2</i>'. Leave blank for root directory.<br />
            If you are selecting thesis, exam paper, scholarly text or '<i>image (TIFF only)</i>' the files should be in the folder specified.<br />
            If you are selecting '<i>image (TIFF master and JP2 display)</i>' we will look for sub-directories called '<i>Dissemination_JPEG2</i>' and '<i>Archive_TIFFs</i>'
        </p>
       [selected filestore here/] <%= f.text_field :folder, :size => 50 %>
        <h3>Check folders exist</h3>
    </div>
    <br />
    <div class="field">
        <%= f.label "Select a CSV file to upload" %><br />
        <%= f.file_field :file %>
    </div>
    <br />
    <div class="field">
        <%= f.label :rights %><br />
        <%= f.select :rights, options_for_select(Settings.rights.to_hash { |l | [l['label']] }) %>
    </div>
    <br />
    <div class="field">
        <%= f.label :repository %><br />
        <%= f.select :repository, options_for_select(Settings.repository.to_hash { |l | [l['label']] }) %>
    </div>
    <br />
    <div class="field">
        <%= f.label "Choose Parent Collection" %><br />
        <%= f.text_field :parent %>
        <h3>provide a 'selector' using the YODL REST API for collections: https://dlib.york.ac.uk/yodl/api/resource/collections</h3>
    </div>

    <h3>Images only - make this only appear if images selected</h3>

    <div class="field">
        <%= f.label "Imager (images only)." %><br />
        <% if self.current_user.nil? %>
            <%= f.text_field :photographer %>
        <% else %>
            <%= f.text_field :photographer, :value => self.current_user.surname + ', ' + self.current_user.givenname %>
        <% end %>
    </div>
    <br />
    <div class="field">
        <%= f.label "Worktype (provide for images only), leave blank if this info is in the csv file" %><br />
        <%= f.text_field :worktype , :value => 'manuscript' %>
    </div>
    <br />
    <h3>set dryrun to true</h3>


    <br />
    <div class="actions">
        <%= f.submit %>
    </div>
    <br />
<% end %>
