<br/><br/>
<h1>Batch Ingest</h1>
<p id="notice"><%= notice %></p>
<% if self.current_user.get_department_code == 'libarch' or self.current_user.get_department_code == 'directinfo' %>

    <div class="pretty_button">
        <%= link_to 'New Ingest', new_ingest_path %>
    </div>

    <h3>York Digital Library Batch Ingest Tool</h3>
    <p>Please consult the instructions:</p>
    <p><%= link_to 'York Digital Library Batch Ingest Tool', 'https://wiki.york.ac.uk/display/dlib/York+Digital+Library+Batch+Ingest+Tool' %></p>

    <% if session[:failures] %>

        <%= render 'failures' %>
    <% end %>

<% else %>

    <p><%= self.current_user.get_department_code %> is not authorized to view this page.</p>

    <br /><br />

<% end %>