<p id="notice"><%= notice %></p>

<p>
    <strong>Folder:</strong>
    <%= @ingest.folder %>
</p>

<p>
    <strong>File:</strong>
    <%= @ingest.file %>
</p>

<%= link_to 'Edit', edit_ingest_path(@ingest) %> |
<%= link_to 'Back', ingests_path %>