<footer class="footer container-fixed">
  <small>
    The <a href="#">Thesis Submission System</a>
    by <a href="http://dlib.york.ac.uk/">York Digital Library</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",              about_path %></li>
      <li><%= link_to "Help",               help_path %></li>
      <li><%= link_to "Legal Statements",   'http://www.york.ac.uk/docs/disclaimer/disclaimer.htm' %></li>
      <li><%= link_to "Contact us",         contact_path %></li>
      <li><%= link_to "Cookies",            '#' %></li>
    </ul>
  </nav>
</footer>
