<header class="navbar navbar-fixed-top navbar-inverse container-fixed">
  <div class="container-fixed" style="padding-left: 0px;">
    <%= link_to image_tag("YODL_Banner_Rev_03d.jpg", alt:"York Digital Library Dissertation upload"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right" style="padding-right: 30px;">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <% if user_signed_in? %>
            <!--<li><div style="color:#FFFFFF; padding-top: 15px;"><%= current_user.login %></div></li>-->
            <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
        <%else%>
            <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
