<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= yield :javascript_includes %>

  <SCRIPT type="text/javascript">
      window.history.forward();
      function noBack() {
          window.history.forward();
      }
  </SCRIPT>

  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
    <%= render 'layouts/header' %>

    <br/><br/><br/><br/><br/><br/>
    <div class="container-fixed">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
</body>
</html>
